.hero {
  text-align: center;
  margin: 150px 20px;
}
h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 96px;
  color: black;
}
h2 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
  color: #272142;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #272142;
}
.button {
  font-family: "Poppins", sans-serif;
  font-weight: medium;
  font-size: 18px;
  padding: 18px 30px;
  border-radius: 10px;
  background: #272142;
  color: white;
}
.hero-image {
  width: 1000px;
  display: block;
  margin: 0 auto;
}
