:root {
  --primary-color: #272142;
  --secondary-color: #f9f7fe;
  --heading-font: "Playfair Display", serif;
  --content-font: "Poppins", sans-serif;
}
.hero {
  text-align: center;
  padding: 150px 20px;
  background-color: var(--secondary-color);
}
h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 96px;
  color: black;
}
h2 {
  font-family: var(--heading-font);
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
  color: var(--primary-color);
}
.hero p {
  font-family: var(--content-font);
  font-weight: bold;
  font-size: 36px;
  color: var(--primary-color);
  line-height: 30px;
}
.button {
  font-family: var(--content-font);
  font-weight: medium;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 18px 30px;
  font-size: 18px;
  border-radius: 10px;
}
.btn-primary {
  background: var(--primary-color);
  color: white;
}
.btn-primary:hover {
  color: var(--primary-color);
  background: white;
  border: 1px solid var(--primary-color);
}

p {
  font-family: var(--content-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.btn-secondary {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  line-height: 27px;
  background: var(--secondary-color);
}
.btn-secondary:hover {
  color: white;
  background-color: var(--primary-color);
}
.project-info {
  padding: 0px 20px;
}
.project-info h2 {
  font-size: 64px;
}

.featured-project {
  border: 1px solid var(--primary-color);
}
@media (max-width: 769px) {
  .hero {
    padding: 60px 20px;
  }
  .project-info {
    text-align: center;
    padding: 0;
  }
  h1,
  .project-info h2 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  .hero p {
    font-size: 20px;
  }
}
